# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Ignore all cmake-build-debug folders
**/cmake-build-debug/

# Then unignore all .c, .h, and .txt files
!**/*.c
!**/*.h
!**/*.txt

# Ignore CMakeLists.txt
**/CMakeLists.txt

# Ensure the .gitignore file is not ignored
!.gitignore
