# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Ignore all cmake-build-debug folders
**/cmake-build-debug/

# Then unignore all .c and .h files
!**/*.c
!**/*.h

# Ensure the .gitignore file is not ignored
!.gitignore
