# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Ignore all cmake-build-debug folders & .idea
**/cmake-build-debug/
**/.idea

# Then unignore all .c, .h, .md and .txt files
!**/*.c
!**/*.h
!**/*.txt
!**/*.md

# Ignore CMakeLists.txt
**/CMakeLists.txt

# Ensure the .gitignore file is not ignored
!.gitignore
